.navbar-primary{
    background-color: #0045F6;
}

.cont--icons {
    display: flex;
    width: max-content;
    height: max-content;
    margin-left: auto;
}



.icon {
    border: hidden;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 5px;
}
