.NavbarLeft{
    background-color: #E6E7E9;
    height: 100%;
    width: 20%;
}

.cont--title{
    background-color: #0045F6;
    color: #FFFFFF;
    text-align: center;
    padding: 1px 0;
}

.cont--navlinks{
    text-align: center;
    padding: 20px 0;
}